
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

h2 {
    color: darkgreen;
    font-family: Arial, sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: Arial, sans-serif;
    color: antiquewhite
}

    table thead tr {
        background-color: black;
        color: antiquewhite
    }

    table th, table td {
        border: 1px solid black;
        padding: 8px;
        color: antiquewhite
    }

input[type="text"] {
    width: 100%;
    border: 1px solid black;
}


