@page "/alcohols"

@inject NavigationManager NavigationManager


<h3>Alcohols</h3>

<h7> The functional group in alcohols is the hydroxyl group, C–OH.

Alcohols can be classified as primary, secondary or tertiary, depending on how many alkyl groups are bonded to C–OH. You can see how these types of alcohols are named in the diagrams below.
<br /> 





Polarity of alcohols

The properties of alcohols are dominated by the hydroxyl group, C–OH.

Carbon, oxygen and hydrogen have different electronegativities, and alcohols have polar molecules:

    <br />



    The polarity produces electron-deficient carbon and hydrogen atoms, indicated in the diagram above. Depending upon the reagents used, alcohols can react by breaking either the C–O or O–H bond.

Physical properties of alcohols

The –OH group dominates the physical properties of short-chain alcohols. Hydrogen bonding takes place between alcohol molecules, resulting in:

higher melting and boiling points than alkanes of comparable M,r
solubility in water.
The solubility of alcohols in water decreases with increasing carbon chain length as the non-polar contribution to the molecule becomes more important.


    <br />


    Preparation of ethanol

Ethanol finds widespread uses: in alcoholic drinks, as a solvent in the form of methylated spirits, and as a fuel. There are two main methods for its production.



Fermentation of sugars (for alcoholic drinks)








Hydration of ethene (for industrial alcohol)

Ethene and steam are passed over a phosphoric acid catalyst at 330°C under high pressure






The preparation method used for ethanol may depend on the raw materials available. An oil-rich country may use oil to produce ethene, then ethanol. However, this method uses up finite oil reserves. In a country without oil reserves (especially in hot climates), sugar may provide a renewable source for ethanol production.

    <br />
    Combustion of alcohols

Alcohols such as ethanol and methanol are used as fuels, making use of combustion.





Ethanol is used as a petrol substitute in countries with limited oil reserves.

Methanol is used as a petrol additive in the UK to improve combustion of petrol.

It also has increasing importance as a feedstock in the production of organic chemicals.

This video explains how Methanol is used as fuel cells
    <br />

    Oxidation of alcohols

Ethanol is used as a petrol substitute in countries with limited oil reserves.

Methanol is used as a petrol additive in the UK to improve combustion of petrol.

It also has increasing importance as a feedstock in the production of organic chemicals.

The oxidation of different alcohols is an important reaction in organic chemistry. It links alcohols with aldehydes, ketones and carboxylic acids, shown below.






Aldehydes and ketones both contain the carbonyl group C=O.
Carboxylic acids contain the carboxyl group COOH.
The stages of oxidation are shown below:



    <br />

    Oxidation of primary alcohols

A primary alcohol can be oxidised to an aldehyde and then to a carboxylic acid.

KEY POINT: Oxidation of an organic compound involves gain of oxygen OR loss of hydrogen (accompanied by loss of electrons from the organic compound).

The stages of oxidation are shown below:






For balanced equations, the oxidising agent can be shown simply as [O].



Reduction of carbonyl compounds






For balanced equations, the reducing agent can be shown simply as [H].

Substitution reactions of alcohols






An alternative method is to use phosphorus halides.

For chloroalkanes, PCl5 isused

For iodoalkanes, phosphorus and iodine is used.

Use an acid with a nucleophile in substitution reactions of alcohols.

Dehydration of alcohols



    <br />

    Use hot concentrated acid for elimination of water from an alcohol.

Elimination (1 → 2) is the opposite process to addition (2 → 1).

Formation of esters


Image

Esters are formed by reaction of a carboxylic acid with an alcohol.

Tests for alcohols

</h7>


@code {

}
