@page "/"


@inject NavigationManager NavigationManager
@inject UserManager<User> userManager 
@inject IHttpContextAccessor httpContextAccessor 
@using TheProject.Context
@using TheProject.Components.Account
@using Microsoft.AspNetCore.Http @*For retrieving client ID*@
@using Microsoft.AspNetCore.Identity @*For retrieving client ID*@
@using Microsoft.AspNetCore.Components.Authorization @*Page only accessible by those authorized*@


@using TheProject.Model

<PageTitle>Home</PageTitle>

<div class="body">

<h1 class="white">Hello @username. </h1>

<h7 class="white"> Check out some of our features! </h7>

<br /> 
<br /> 

    <div class="container">
        <div class="row marginal-spacing">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Notes.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Notes</h5>
                        <p class="card-text">Study from our selection of notes.</p>
                        <a href="/notes" class="btn nbutton">Select</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Quiz.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Quiz</h5>
                        <p class="card-text">Test your knowledge.</p>
                        <a href="/quiz" class="btn nbutton">Select</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="/Leaderboard.PNG" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Leaderboard</h5>
                        <p class="card-text">Check out the top scorers.</p>
                        <a href="/leaderboard" class="btn nbutton">Select</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <br />
    <br />

    <div class="badge-container">
        <div class="row marginal-spacing">
            <div class="col-md-6 text-center">
                <div class="badge-item">
                    <p>Points</p>
                    <span class="badge rounded-pill bg-warning bigger-badge">@points</span>
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="badge-item">
                    <p>Total Questions</p>
                    <span class="badge rounded-pill bg-warning bigger-badge">@totalQuestions</span>
                </div>
            </div>
        </div>
    </div>

<br />
<br />

    <div class="progress-container mb-4">
        <div class="progress-bar">@points%</div>
    </div>


    <div class="progress-container mb-4">
        <div class="progress-bar">@totalQuestions%</div>
    </div>


</div>


@code {

    private string username;
    private int points;
    private int totalQuestions;


    protected override async Task OnInitializedAsync()
    {
        username = "guest";
        points = 0;
        totalQuestions = 0; 

        var context = httpContextAccessor.HttpContext;

        var currentUser = await userManager.GetUserAsync(context.User); 
        if (currentUser != null)
        {
            username = currentUser.UserName;
            points = currentUser.Points;
            totalQuestions = currentUser.totalQuestions; 
        }

    }



}