@page "/leaderboard"

@using TheProject.Components 
@using TheProject.Context
@using TheProject.Migrations
@using TheProject.Model
@inject UserProvider UserProvider


<h3>Leaderboard</h3>
@* Conditionals for if the users havent loaded, or if there aren't any*@
@if (users == null)
{
    <p>Loading!</p>
}
else if (users.Count == 0)
{
    <p>No users are available.</p>
}
else
{
    @* Table to list every user *@
    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th>Rank</th>
                <th>Username</th>
                <th>Points</th>
                <th>Total Questions</th>
            </tr>
        </thead>
        <tbody>
            @for (var i = 0; i < users.Count; i++) // Loop through every user recieved from the UserProvider
            {
                <tr>
                    <td>@(i + 1)</td> @* Rank is the index of the loop + 1 since there is no rank zero, and it needs to go up by 1 each time *@
                    <td>@users[i].UserName</td>
                    <td>@users[i].Points</td>
                    <td>@users[i].totalQuestions</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<User> users;
    private int rank = 1;

    protected override async Task OnInitializedAsync()
    {
        users = await UserProvider.GetUsersOrderedByPointsAsync();
    }

}
