@page "/notes"

<h3>Note Menu</h3>

<h5> Select which topic you would like to read about. </h5>

<div class="container">
    <div class="row marginal-spacing">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/alkene.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alkenes</h5>
                    <p class="card-text">Carbon and hydrogen and carbon and hydrogen.</p>
                    <a href="/alkenes" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/alcohol.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alcohols</h5>
                    <p class="card-text">Not just drinking</p>
                    <a href="/alcohols" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/carbonyl.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Aldehydes & Ketones</h5>
                    <p class="card-text">Oxidised alcohol</p>
                    <a href="/aldehydesketones" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row marginal-spacing">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/alkane.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alkanes</h5>
                    <p class="card-text">Carbon and hydrogen and carbon and hydrogen and hydrogen and hydrogen and hydrogen and hydrogen.</p>
                    <a href="/alkanes" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/amine.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Amines</h5>
                    <p class="card-text">Nitrogen not for inhalation</p>
                    <a href="amines" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/carboxylic.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Carboxylic Acids & Esters</h5>
                    <p class="card-text">Derivatives of alcohols</p>
                    <a href="carboxylicacidsandesters" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row marginal-spacing">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/halogens.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Halogenoalkanes</h5>
                    <p class="card-text">Chloroflorobromoiodo</p>
                    <a href="halogenoalkanes" class="btn btn-primary">Select</a>
                </div>
            </div>
        </div>
    </div>
</div>








@code {

}
