@page "/notes"

<h3>Note Menu</h3>

<h5> Select which topic you would like to read about. </h5>

<div class="container">
    <div class="row marginal-spacing">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/alkeness.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alkenes</h5>
                    <span class="badge bg-dark text-light">Y12</span>
                    <p class="card-text">Carbon and hydrogen.</p>
                    <a href="/alkenes" class="btn  bg-dark text-white btn-primary">Select</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/alcohols.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alcohols</h5>
                    <span class="badge bg-dark text-light">Y12</span>
                    <p class="card-text">Not just drinking</p>
                    <a href="/alcohols" class="btn bg-dark text-white btn-primary">Select</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/ketones.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Aldehydes & Ketones</h5>
                    <span class="badge bg-dark text-light">Y13</span>
                    <p class="card-text">Oxidised alcohol</p>
                    <a href="/aldehydesketones" class="btn bg-dark text-white btn-primary">Select</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row marginal-spacing">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/alkaness.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Alkanes</h5>
                    <span class="badge bg-dark text-light">Y12</span>
                    <p class="card-text">Carbon and hydrogen.</p>
                    <a href="/alkanes" class="btn bg-dark text-white btn-primary">Select</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/amines.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Amines</h5>
                    <span class="badge bg-dark text-light">Y13</span>
                    <p class="card-text">Nitrogen not for inhalation</p>
                    <a href="amines" class="btn bg-dark text-white btn-primary">Select</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/carboxyy.PNG" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Carboxylic Acids & Esters</h5>
                    <span class="badge bg-dark text-light">Y13</span>
                    <p class="card-text">Derivatives of alcohols</p>
                    <a href="carboxylicacidsandesters" class="btn  bg-dark text-white btn-primary">Select</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row marginal-spacing">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/halogeno.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Halogenoalkanes</h5>
                    <span class="badge bg-dark text-light">Y12</span>
                    <p class="card-text">Chloroflorobromoiodo</p>
                    <a href="halogenoalkanes" class="btn bg-dark text-white btn-primary">Select</a>
                </div>
            </div>
        </div>
    </div>
</div>








@code {

}
