@page "/quiz"

@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@inject TopicSelectionService TopicService
@inject NavigationManager NavigationManager

@using TheProject.Model
<h3>Select a Topic</h3>

<EditForm Model="userChoice" OnValidSubmit="HandleValidSubmit">

    <div class="form-group">

        <label for="topic">Choose a topic:</label>

        <InputSelect id="topic" @bind-Value="userChoice.TopicChoice">

            <option value=""> Select Topic: </option>

            @foreach (var topic in Topics)
            {
                <option value="@topic">@topic</option>
            }

        </InputSelect>

        <ValidationMessage For="@(() => userChoice.TopicChoice)" />

        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</EditForm>

<p>@resultMessage</p>

@code {
    private string resultMessage = "Topic: Currently Selecting...";
    private List<string> Topics = new List<string>
    {
        "Alkanes",
        "Alkenes",
        "Alcohols",
        "Aldehydes",
        "Carboxylic Acids",
        "Amines",
        "Halogenoalkanes"
    };

    public class TopicSelectionService
    {
        public string? Topic { get; private set; }

        public void SetTopic(string TopicChoice)
        {
            Topic = TopicChoice;
        }
    }



    private UserChoiceModel userChoice = new UserChoiceModel();

    private void HandleValidSubmit()
    {
        TopicService.SetTopic(userChoice.TopicChoice);
        resultMessage = "Selected: " + userChoice.TopicChoice;
        NavigationManager.NavigateTo("/quizcard");
    }

    public class UserChoiceModel
    {
        [Required(ErrorMessage = "Please select a topic.")]
        public string TopicChoice { get; set; }
    }
}
